extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/files.css")

block content
    .title-view 
        h1 فایل ها
        h2 
    .content-view 
        .users-view 
            table 
                tr 
                    th نام مالک
                    th منطقه
                    th متراژ
                    th 
                    th 
                -for(var i=0; i<files.length; i++){
                    tr 
                        td.user 
                            h1= files[i].ownerName
                            h2
                                a(href="tel:#{files[i].phone}")= files[i].phone
                        td.role= files[i].area
                            
                        td.acounts 
                            h1= files[i].meterage
                            h2= files[i].address
                        td
                            a.edit(href="/dashboard/file-view?fileID=#{files[i]._id}") 
                                i.fa.fa-eye 
                        td
                            a.trash(href="/dashboard/delete-file?fileID=#{files[i]._id}") 
                                i.fa.fa-trash 
                -}
        .user-control 
            .control 
                .search-view
                    input(type="text" placeholder="جستجو")
                    button
                        i.fa.fa-search
                a.add-user#add-user-btn
                    i.fa.fa-plus 
                    | افزودن فایل
    include ../components/file-popup
    script(src="/js/files.js") 