doctype html

html
    head
        title فایل استور
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/home.css')
        link(rel='stylesheet', href='/css/components/footer.css')
    body
        header 
            img.background(src="/img/home.jpg")
            //- .overlay
            .info 
                .contact 
                    i.fa.fa-phone 
                    a(href="tel:02146127919") 02146127919 
                    | - 
                    a(href="tel:02146127947") 02146127947 
                    
                //- .contact 
                //-     i.fa.fa-envelope 
                //-     | info@gmail.com
                -if(user){
                    a.link(href="/users/login")= user.fullname == ''? 'پنل کاربری' : user.fullname
                        i.fa.fa-user
                -}else{
                    //- a.link(href="/users/login") ثبت نام
                    //-     i.fa.fa-user
                    a.link(href="/users/login") ورود
                        i.fa.fa-sign-in
                -}
            nav 
                a.logo(href="/") 
                    img(src="/img/logo.png")
                a.link(href="/") خانه
                a.link(href="/privacy-policy") شرایط و قوانین
                a.link(href="/contactus") تماس با ما
                //- a.link(href="#") درباره ما
                //- a.icon(href="#") 
                //-     i.fa.fa-moon-o
                a.icon(href="search") 
                    i.fa.fa-search
                //- a.icon(href="/dashboard/cart") 
                //-     i.fa.fa-shopping-cart
                    //- -if(user && user.cart.length > 0)
                    //-     .notif-num= user.cart.length
            .title-view 
                h2 سامانه جامع فایلینگ املاک
                h1 فایل استور
                h2.border فایلینگ تخصصی املاک در تهران
            img.top-logo(src="/img/logo.png")
        section
            .statistics-view
                .card 
                    .info 
                        h1 کلیه ملک‌های ثبت شده
                        .num= numberOfFiles
                            .f فایل
                        .date
                            i.fa.fa-refresh
                            | #{convertDate(now)}
                    //- .icon
                        i.fa.fa-file
                    img(src="/img/sale.png", alt="")
                .card 
                    .info 
                        h1 فروش
                        .num= numberOfSellings
                            .f فایل
                        .date
                            i.fa.fa-refresh
                            | #{convertDate(now)}
                    //- .icon
                        i.fa.fa-dollar
                    img(src="/img/sale.png", alt="")
                .card 
                    .info 
                        h1 پیش فروش
                        .num= numberOfSellings2
                            .f فایل
                        .date
                            i.fa.fa-refresh
                            | #{convertDate(now)}
                    //- .icon
                        i.fa.fa-dollar
                    img(src="/img/sale.png", alt="")
                .card 
                    .info 
                        h1 رهن / اجاره
                        .num= numberOfRents
                            .f فایل
                        .date
                            i.fa.fa-refresh
                            | #{convertDate(now)}
                    //- .icon
                        i.fa.fa-address-card-o
                    img.margin1(src="/img/rent.png", alt="")
                .card 
                    .info 
                        h1 مسکونی
                        .num= numberOfApartments
                            .f فایل
                        .date
                            i.fa.fa-refresh
                            | #{convertDate(now)}
                    //- .icon
                        i.fa.fa-building
                    img.margin1(src="/img/apartment.png", alt="")
                .card 
                    .info 
                        h1 اداری / تجاری
                        .num= numberOfOffices
                            .f فایل
                        .date
                            i.fa.fa-refresh
                            | #{convertDate(now)}
                    //- .icon
                        i.fa.fa-university
                    img.margin1(src="/img/house.png", alt="")
                .card 
                    .info 
                        h1 مستغلات و کلنگی
                        .num= numberOfOthers
                            .f فایل
                        .date
                            i.fa.fa-refresh
                            | #{convertDate(now)}
                    //- .icon
                        i.fa.fa-wrench
                    img(src="/img/sale.png", alt="")
        section 
            .register
                .part 
                    form(action="/register-estate" method="POST") 
                        h1 عضویت در فایل استور
                        p اگر مشاور املاک هستید و میخواهید از خدمات فایل استور استفاده نمایید مشخصات خود را در فرم زیر وارد نموده تا همکاران ما با شما تماس بگیرند.
                        .text-input-view 
                            label(for="name") نام و نام خانوادگی: 
                            input(type="text" name="name" placeholder="نام و نام خانوادگی")
                        .text-input-view 
                            label(for="phone") شماره تلفن: 
                            input(type="text" name="phone" placeholder="شماره تلفن")
                        button.submit(type="submit") ارسال درخواست
                .part 
                    form(action="/register-file" method="POST") 
                        h1 سپردن ملک به ما (رایگان)
                        p اگر می‌خواهید ملک خود را در فایل استور ثبت کنید فرم زیر را تکمیل نمایید تا همکاران ما با شما تماس بگیرند.
                        .text-input-view 
                            label(for="name") نام و نام خانوادگی: 
                            input(type="text" name="name" placeholder="نام و نام خانوادگی")
                        .text-input-view 
                            label(for="area") شماره منطقه: 
                            input(type="text" name="area" placeholder="شماره منطقه")
                        .text-input-view 
                            label(for="phone") شماره تلفن: 
                            input(type="text" name="phone" placeholder="شماره تلفن")
                        button.submit(type="submit") ارسال درخواست
        section.light
            .mockup 
                .info 
                    h1 آشنایی با فایل استور
                    p تیم فایل استور با سابقه  بیش از 10 ساله در صنف مشاورین املاک اقدام به راه اندازی فایلینگ جامع مناسب با نیاز روز مشاورین املاک نموده است. کلیه فایلها در کلیه رنج ها روزانه در دسترس شما عزیزان قرار میگیرد. فایل استور املاک نیست و هیچ کدام از اعضای تیم  در زمینه خرید و فروش املاک  فعالیتی ندارند. 
                .image 
                    //- video(autoplay loop)
                    //-     source(src="/img/mockup-row.mp4", type="video/mp4")
                    img(src="/img/mockup-row.gif")
        section 
            .map
                iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1ZA6f8CNze8Xa1yUsLxO4hZFOm7zdTbyN&ehbc=2E312F" width="640" height="480")
                //- iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d103610.02393267365!2d51.13413693710939!3d35.755394666785904!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8de5259d9edf69%3A0x7a13e6876f0cd191!2sDistrict%2022%2C%20Tehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2sro!4v1649162745942!5m2!1sen!2sro" width="640" height="480")
            a(referrerpolicy="origin" target="_blank" rel="noopener noreferer" href="https://trustseal.enamad.ir/?id=188226&amp;Code=hpnWva29lcClGTdCZAcG")
                img(referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=188226&amp;Code=hpnWva29lcClGTdCZAcG" alt="" style="cursor:pointer" id="hpnWva29lcClGTdCZAcG" width="100px" height="100px")

        include ./components/footer
        script.
            document.getElementById('vid').play();


