-for(var i=0; i<estates.length; i++){
    .popup.w40p(id="edit-estate-popup#{i}")
        i.fa.fa-times.close-popup
        .title-line
            .popup-title
                h1 افزودن مشاور املاک جدید
        .description در صورت فعال کردن گزینه 3 روز اشتراک رایگان، مشاور املاک به مدت سه روز رایگان از سرویس فایل استور استفاده می کند.
        form(action="/dashboard/edit-estate" method="POST")
            input.hidden(type="text" name="estateID" value="#{estates[i]._id}")
            .one-side-form
                .text-input-area
                    label(for="name") 
                        i.fa.fa-user
                        | نام مشاور املاک:
                    input.textinput(type="text" placeholder="نام مشاور املاک" name="name" value= "#{ typeof estates[i].name != 'undefined' ? estates[i].name: '' }")
                .text-input-area
                    label(for="address") 
                        i.fa.fa-map-marker
                        | آدرس:
                    input.textinput(type="text" placeholder="آدرس" name="address" value= "#{ typeof estates[i].address != 'undefined' ? estates[i].address: '' }")
                .text-input-area
                    label(for="phone") 
                        i.fa.fa-phone
                        | تلفن:
                    input.textinput(type="text" placeholder="تلفن" name="phone" value= "#{ typeof estates[i].phone != 'undefined' ? estates[i].phone: '' }")
                .text-input-area
                    label(for="area") 
                        i.fa.fa-pencil
                        | شماره منطقه:
                    input.textinput(type="text" placeholder="شماره منطقه" name="area" value= "#{ typeof estates[i].area != 'undefined' ? estates[i].area: '' }")
                -if(estates[i].planType == 'free'){
                    a.link(href="/dashboard/start-trial?estateID=#{estates[i]._id}") 
                        i.fa.fa-play
                        | شروع 3 روز اشتراک رایگان
                -}
                -if(user.role == 'admin' && (user.idNumber == 'admin' || user.idNumber == '1234')){
                    .special-actions
                        i.fa.fa-play
                        a.link(href="/dashboard/change-plan?estateID=#{estates[i]._id}&planType=1 ماهه") 
                            | اشتراک یک ماهه
                        a.link(href="/dashboard/change-plan?estateID=#{estates[i]._id}&planType=3 ماهه") 
                            | اشتراک سه ماهه
                        a.link(href="/dashboard/change-plan?estateID=#{estates[i]._id}&planType=6 ماهه") 
                            | اشتراک شش ماهه
                        a.link(href="/dashboard/change-plan?estateID=#{estates[i]._id}&planType=1 ساله") 
                            | اشتراک یک ساله
                    .special-actions
                        i.fa.fa-times
                        a.link(href="/dashboard/remove-plan?estateID=#{estates[i]._id}") 
                            | لغو اشتراک
                -}
                button.submit(type="submit") ثبت
-}

