.popup.file#add-file-popup
    i.fa.fa-times.close-popup
    .title-line
        .popup-title
            h1 افزودن فایل جدید
    //- .description مشاور املاک جدد می‌تواند 30 روز به صورت رایگان از امکانات فایل استور استفاده نماید.
    form(action="/dashboard/add-file" enctype="multipart/form-data" method="POST")
        .multi-column-form
            .col50
                .double-text-input
                    label(for="ownerName") نام مالک
                    input.textinput(type="text" placeholder="" name="ownerName" value= "#{ typeof ownerName != 'undefined' ? ownerName: '' }")
                    label(for="constPhone") تلفن
                    input.textinput(type="text" placeholder="" name="constPhone" value= "#{ typeof constPhone != 'undefined' ? constPhone: '' }")
                .text-area-input 
                    label(for="address") آدرس
                    textarea(name="address")
            .col50
                .double-text-input
                    label(for="phone") همراه
                    input.textinput(type="text" placeholder="" name="phone" value= "#{ typeof phone != 'undefined' ? phone: '' }")
                    label(for="date") تاریخ
                    input.textinput(type="text" placeholder="" name="date" value= "#{ typeof date != 'undefined' ? date: `${convertDate(new Date())}` }")
                .double-text-input
                    label(for="type") نوع
                    select#state(name="type") 
                        //- option(value="undefined") انتخاب کنید
                        option(value="آپارتمان") آپارتمان
                        option(value="ویلایی") ویلایی
                        option(value="کلنگی") کلنگی
                        option(value="تجاری") تجاری
                        option(value="اداری") اداری
                        option(value="موقعیت اداری") موقعیت اداری
                        option(value="زمین") زمین
                        option(value="مستغلات") مستغلات
                    //- input.textinput(type="text" placeholder="" name="type" value= "#{ typeof type != 'undefined' ? type: '' }")
                    label(for="fileNumber") شماره
                    input.textinput(type="text" placeholder="" name="fileNumber" value= "#{ typeof newFileNumber != 'undefined' ? newFileNumber: '' }")
                .double-text-input
                    label(for="state") وضعیت
                    select#state(name="state") 
                        //- option(value="undefined") انتخاب کنید
                        option(value="فروش") فروش
                        option(value="پیش‌فروش") پیش‌فروش
                        option(value="معاوضه") معاوضه
                        option(value="مشارکت") مشارکت
                        option(value="رهن و اجاره") رهن و اجاره
                        option(value="رهن کامل") رهن کامل
                    //- input.textinput(type="text" placeholder="" name="state" value= "#{ typeof state != 'undefined' ? state: '' }")
                    label(for="role") سمت
                    input.textinput(type="text" placeholder="" name="role" value= "#{ typeof role != 'undefined' ? role: '' }")
        .table-form 
            table 
                tr 
                    th متراژ
                    th خواب
                    th طبقه
                    th طبقات
                    th واحد
                    th سن بنا
                    th پارکینگ
                    th انباری
                    th آسانسور
                    th آشپزخانه
                    th نما
                    th کف
                    th سرویس
                    th سرمایش و گرمایش
                tr 
                    td
                        input(type="text" placeholder="" name="meterage" value="")
                    td
                        input(type="text" placeholder="" name="bedroom" value="")
                    td
                        input(type="text" placeholder="" name="floor" value="")
                    td
                        input(type="text" placeholder="" name="numOfFloors" value="")
                    td
                        input(type="text" placeholder="" name="unit" value="")
                    td
                        input(type="text" placeholder="" name="buildAge" value="")
                    td
                        input(type="text" placeholder="" name="parking" value="")
                    td
                        input(type="text" placeholder="" name="warehouse" value="")
                    td
                        input(type="text" placeholder="" name="elevator" value="")
                    td
                        input(type="text" placeholder="" name="kitchen" value="")
                    td
                        input(type="text" placeholder="" name="view" value="")
                    td
                        input(type="text" placeholder="" name="floortype" value="")
                    td
                        input(type="text" placeholder="" name="service" value="")
                    td
                        input(type="text" placeholder="" name="heatingAndCoolingSystem" value="")
                tr 
                    td
                        input(type="text" placeholder="" name="meterage2" value="")
                    td
                        input(type="text" placeholder="" name="bedroom2" value="")
                    td
                        input(type="text" placeholder="" name="floor2" value="")
                    td
                        input(type="text" placeholder="" name="numOfFloors2" value="")
                    td
                        input(type="text" placeholder="" name="unit2" value="")
                    td
                        input(type="text" placeholder="" name="buildAge2" value="")
                    td
                        input(type="text" placeholder="" name="parking2" value="")
                    td
                        input(type="text" placeholder="" name="warehouse2" value="")
                    td
                        input(type="text" placeholder="" name="elevator2" value="")
                    td
                        input(type="text" placeholder="" name="kitchen2" value="")
                    td
                        input(type="text" placeholder="" name="view2" value="")
                    td
                        input(type="text" placeholder="" name="floortype2" value="")
                    td
                        input(type="text" placeholder="" name="service2" value="")
                    td
                        input(type="text" placeholder="" name="heatingAndCoolingSystem2" value="")
                tr 
                    td
                        input(type="text" placeholder="" name="meterage3" value="")
                    td
                        input(type="text" placeholder="" name="bedroom3" value="")
                    td
                        input(type="text" placeholder="" name="floor3" value="")
                    td
                        input(type="text" placeholder="" name="numOfFloors3" value="")
                    td
                        input(type="text" placeholder="" name="unit3" value="")
                    td
                        input(type="text" placeholder="" name="buildAge3" value="")
                    td
                        input(type="text" placeholder="" name="parking3" value="")
                    td
                        input(type="text" placeholder="" name="warehouse3" value="")
                    td
                        input(type="text" placeholder="" name="elevator3" value="")
                    td
                        input(type="text" placeholder="" name="kitchen3" value="")
                    td
                        input(type="text" placeholder="" name="view3" value="")
                    td
                        input(type="text" placeholder="" name="floortype3" value="")
                    td
                        input(type="text" placeholder="" name="service3" value="")
                    td
                        input(type="text" placeholder="" name="heatingAndCoolingSystem3" value="")
        .long-atext-input 
            label(for="options") امکانات
            input(name="options")
        .two-text-input
            label(for="price") قیمت متری/رهن
            input(type="text" placeholder="xx تومان" name="price" value="" onkeyup="correctPrice('popup-price')" id="popup-price")
            label.marg(for="fullPrice") کل / اجاره
            input(type="text" placeholder="xx تومان" name="fullPrice" value="" onkeyup="correctPrice('popup-fullprice')" id="popup-fullprice")
        .table-form.small
            table 
                tr 
                    th منطقه
                    th وام
                    th قابلیت تبدیل
                    th تخفیف
                    th وضعیت سند
                    th تحویل
                    th اگهی دهنده
                tr 
                    td
                        //- input(type="number" placeholder="" name="area" value="")
                        select(name="area") 
                            option(value="22") 22
                            option(value="5") 5
                    td
                        input(type="text" placeholder="" name="lone" value="")
                    td
                        input(type="text" placeholder="" name="changable" value="")
                    td
                        input(type="text" placeholder="" name="discount" value="")
                    td
                        input(type="text" placeholder="" name="documentState" value="")
                    td
                        input(type="text" placeholder="" name="transfer" value="")
                    td
                        input(type="text" placeholder="" name="advertiser" value="")
            button.submit(type="submit")
                i.fa.fa-save
                | ثبت
        .images-view 
            label(for="myFile") آپلود عکس: 
            input.file-input(type="file" name="myFile")
                    
-if(errors){
    script.
        $('#add-estate-popup').show();
        $('.black-modal').show();
-}

    