extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/files.css")

block content
    -if(!search || search == ''){
        #file-length.hidden= files.length
        #file-length-max.hidden= files.length-1
    -}else{
        #file-length.hidden= result.length
        #file-length-max.hidden= result.length-1
    -}
    #file-length-min.hidden= 0
    .title-view 
        h1 فایل ها
        h2 
    .content-view        
        .user-control 
            .control 
                form.search-view(action="/dashboard/files") 
                    input.hidden(type="text" name="page" value="#{page}")
                    input.hidden(type="text" name="areas" value="#{areas}")
                    input(type="text" name="search" placeholder="جستجو" id="searchInput" value="#{typeof(search) == 'undefined'? '': search}" onkeyup="searchFile()")
                    button(type="submit")
                        i.fa.fa-search
                -if(user.addFilePermission){
                    a.add-user#add-user-btn
                        i.fa.fa-plus 
                        | افزودن فایل
                -}
            -if(user.role == 'admin'){
                .control.hidden-in-mobile
                    h1.title آپلود فایل اکسل
                    p فرمت فایل اکسل باید xlsx باشد
                    form.upload(action="/dashboard/upload-excel" enctype="multipart/form-data" method="POST")
                        .check-input.hidden 
                            input(type="checkbox" name="removeAll" value="true" id="removeAll")
                            label(for="removeAll") حذف همه فایل‌های قبلی
                        input(type="file" name="excelFile")
                        button(type="submit") ارسال
                .control.hidden-in-mobile
                    h1.title بک‌آپ
                    p فیلتر تاریخ ثبت شده در فایل 
                    form.backup(action="/dashboard/download-excel" method="POST")
                        .date-input-view
                            label(for="date") از تاریخ
                            .date-input
                                input(type="number" name="startDay" placeholder="روز" value="1")
                                | /
                                input(type="number" name="startMonth" placeholder="ماه" value="1")
                                | /
                                input(type="number" name="startYear" placeholder="سال" value="1401")
                        .date-input-view
                            label(for="date") تا تاریخ
                            .date-input
                                input(type="number" name="endDay" placeholder="روز" value="#{get_year_month_day(now)[2]}")
                                | /
                                input(type="number" name="endMonth" placeholder="ماه" value="#{get_year_month_day(now)[1]}")
                                | /
                                input(type="number" name="endYear" placeholder="سال" value="#{get_year_month_day(now)[0]}")
                        button(type="submit") دانلود
            -}

        .users-view 
            .district-filter-view
                -for(var i=0; i<allAreas.length; i++){
                    -if(!isNaN(allAreas[i])){
                        -if(areas == 'all' || areasArr.indexOf(parseInt(allAreas[i])) != -1){
                            a.district-filter.active(href="/dashboard/files?areas=#{areas}&removeArea=#{allAreas[i]}")
                                .text منطقه #{allAreas[i]}
                                .district.hidden= allAreas[i]
                        -}else{
                            a.district-filter(href="/dashboard/files?areas=#{areas}&addArea=#{allAreas[i]}")
                                .text منطقه #{allAreas[i]}
                                .district.hidden= allAreas[i]
                        -}
                    -}
                -}
            table#myTable 
                tr 
                    th شماره
                    th نام مالک
                    th منطقه
                    th متراژ
                    th 
                    th 
                -if(!search || search == ''){
                    -for(var i=files.length-1; i>=0; i--){
                        tr 
                            td.role= typeof(files[i]) == 'undefined' ? '' : files[i].fileNumber
                            td.user 
                                h1= files[i].ownerName
                                h2
                                    a(href="tel:#{files[i].phone}")= files[i].phone
                            td.role= files[i].area
                            td.hidden= typeof(files[i]) == 'undefined' ? '' : files[i].fileNumber
                                
                            td.acounts 
                                h1= files[i].meterage
                                h2= getAddress(files[i].address)
                            td
                                //- a.edit(href="/dashboard/pdf-file?fileID=#{files[i]._id}" target="_blank")
                                -if(user.role == 'admin'){
                                    a.edit(href="/dashboard/file-view?fileID=#{files[i]._id}" target="_blank")
                                        i.fa.fa-file-pdf-o
                                -}
                            td
                                -if(user.editFilePermission){
                                    a.edit(id="edit-file-btn#{i}")
                                        i.fa.fa-edit
                                -}
                            td
                                -if(user.removeFilePermission && user.role == 'admin'){
                                    a.trash(href="/dashboard/delete-file?fileID=#{files[i]._id}" onclick="makeSure(event)") 
                                        i.fa.fa-trash 
                                -}
                    -}
                -}else{
                    -for(var i=result.length-1; i>=0; i--){
                        tr 
                            td.role= typeof(result[i].fileNumber) == 'undefined' ? '' : result[i].fileNumber
                            td.user 
                                h1= result[i].ownerName
                                h2
                                    a(href="tel:#{result[i].phone}")= result[i].phone
                            td.role= result[i].area
                            td.hidden= typeof(result[i].fileNumber) == 'undefined' ? '' : result[i].fileNumber
                                
                            td.acounts 
                                h1= result[i].meterage
                                h2= result[i].address
                            td
                                //- a.edit(href="/dashboard/pdf-file?fileID=#{result[i]._id}" target="_blank")
                                -if(user.role == 'admin'){
                                    a.edit(href="/dashboard/file-view?fileID=#{result[i]._id}" target="_blank")
                                        i.fa.fa-file-pdf-o
                                -}
                            td
                                -if(user.editFilePermission){
                                    a.edit(id="edit-file-btn#{i}")
                                        i.fa.fa-edit
                                -}
                            td
                                -if(user.removeFilePermission && user.role == 'admin'){
                                    a.trash(href="/dashboard/delete-file?fileID=#{result[i]._id}" onclick="makeSure(event)") 
                                        i.fa.fa-trash 
                                -}
                    -}
                -}
            .page-navigator 
                -page = parseInt(page)
                -if(page > 0)
                    a(href="/dashboard/files?areas=#{areas}&page=#{page-1}" disabled)
                        i.fa.fa-chevron-right
                        | صفحه قبلی 
                -if((page+2)*numberOfFilesInPage < fileLength-1)
                    a(href="/dashboard/files?areas=#{areas}&page=#{page+2}")= page+3
                -if((page+1)*numberOfFilesInPage < fileLength-1)
                    a(href="/dashboard/files?areas=#{areas}&page=#{page+1}")= page+2
                -if((page)*numberOfFilesInPage < fileLength-1)
                    a.active(href="/dashboard/files?areas=#{areas}&page=#{page}")= page+1
                -if((page+1)*numberOfFilesInPage < fileLength-1)
                    a(href="/dashboard/files?areas=#{areas}&page=#{page+1}")
                        | صفحه بعدی 
                        i.fa.fa-chevron-left
        
    include ../components/file-popup
    include ../components/files-popups
    script(src="/js/files.js") 
    script.
        $('#link3').addClass('active');
        function makeSure(e)
        {
            if(!confirm('آیا مطمئن هستید؟')) {
                e.preventDefault();
            }
        }