extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/files.css")

block content
    #file-length.hidden= files.length
    .title-view 
        h1 فایل ها
        h2 
    .content-view 
        .users-view 
            table#myTable 
                tr 
                    th نام مالک
                    th منطقه
                    th متراژ
                    th 
                    th 
                -for(var i=files.length-1; i>=0; i--){
                    tr 
                        td.user 
                            h1= files[i].ownerName
                            h2
                                a(href="tel:#{files[i].phone}")= files[i].phone
                        td.role= files[i].area
                        td.hidden= files[i].fileNumber
                            
                        td.acounts 
                            h1= files[i].meterage
                            h2= files[i].address
                        td
                            a.edit(href="/dashboard/pdf-file?fileID=#{files[i]._id}" target="_blank")
                                i.fa.fa-file-pdf-o
                        td
                            -if(user.editFilePermission){
                                a.edit(id="edit-file-btn#{i}")
                                    i.fa.fa-edit
                            -}
                        td
                            -if(user.removeFilePermission){
                                a.trash(href="/dashboard/delete-file?fileID=#{files[i]._id}") 
                                    i.fa.fa-trash 
                            -}
                -}
        .user-control 
            .control 
                .search-view
                    input(type="text" placeholder="جستجو" onkeyup="search()" id="searchInput")
                    button
                        i.fa.fa-search
                -if(user.addFilePermission){
                    a.add-user#add-user-btn
                        i.fa.fa-plus 
                        | افزودن فایل
                -}
    include ../components/file-popup
    include ../components/files-popups
    script(src="/js/files.js") 