extends layout

block styles
    //- link(rel="stylesheet", href="/css/dashboard/users-view.css")

block content
    #estate-length.hidden= estates.length
    #estate-length-max.hidden= estates.length-1
    #estate-length-min.hidden= 0
    .title-view 
        h1 مشاورین املاک
        h2 
    .content-view 
        .users-view 
            table 
                tr 
                    th مالک
                    th منطقه
                    th آدرس
                    th کد املاک
                    th اشتراک
                    th 
                    th 
                -for(var i=0; i<estates.length; i++){
                    tr 
                        td.user 
                            h1= estates[i].name
                            h2
                                a(href="tel:#{estates[i].phone}")= estates[i].phone
                        td.role= estates[i].area
                        td.address= estates[i].address
                        td.acounts 
                            h1 کد املاک: #{estates[i].code}
                            h2 کلمه عبور: #{estates[i].password}
                        td.plan 
                            -if(estates[i].payed == true)
                                i.fa.fa-check.check 
                            -if(estates[i].planType == 'free')
                                i.fa.fa-times.times
                            -else if(estates[i].payed == true){
                                | #{estates[i].planType == 'trial' ? '3 روزه' : estates[i].planType}
                                -var payDate = (new Date(estates[i].payDate)).getTime();
                                -var now = (new Date()).getTime();
                                -var endDate = 0;
                                -if(estates[i].planType == 'trial')  endDate = payDate + 3 * 24 * 60 * 60 * 1000;
                                -if(estates[i].planType == '1 ماهه') endDate = payDate + 1 * 30 * 24 * 60 * 60 * 1000;
                                -if(estates[i].planType == '3 ماهه') endDate = payDate + 3 * 30 * 24 * 60 * 60 * 1000;
                                -if(estates[i].planType == '6 ماهه') endDate = payDate + 6 * 30 * 24 * 60 * 60 * 1000;
                                -if(estates[i].planType == '1 ساله') endDate = payDate + 12 * 30 * 24 * 60 * 60 * 1000;
                                -if(endDate - now > 1000*60*60*24*30)
                                    h2 #{Math.floor((endDate - now)/(1000*60*60*24*30))} ماه تا پایان اعتبار
                                -else
                                    h2 #{Math.floor((endDate - now)/(1000*60*60*24))} روز تا پایان اعتبار
                            -}
                        td
                            -if(user.editEstatePermission){
                                a.edit(id="edit-estate-btn#{i}")
                                    i.fa.fa-edit
                            -}
                        td
                            -if(user.removeEstatePermission){
                                a.trash(href="/dashboard/delete-estate?estateID=#{estates[i]._id}") 
                                    i.fa.fa-trash 
                            -}
                            
                -}
        .user-control 
            .control 
                .search-view
                    input(type="text" placeholder="جستجو")
                    button
                        i.fa.fa-search
                -if(user.addEstatePermission){
                    a.add-user#add-user-btn
                        i.fa.fa-plus 
                        | افزودن مشاور املاک
                -}
            .control 
                h1.title افزودن مشاور املاک 
                p افزودن مشاور املاک به صورت اتوماتیک
                form.add-multiple-estates(action="/dashboard/add-multiple-estate" method="post") 
                    input(type="number" name="numberOfEstates" placeholder="تعداد")
                    button(type="submit") ثبت
                    -if(success_msg && success_msg == 'فایل ها با موفقیت ساخته شدند.'){
                        a.download(href="/files/users.xlsx")
                            i.fa.fa-cloud-download
                            | دانلود لیست کاربران ساخته شده
                    -}
    include ../components/estate-popup
    include ../components/estates-popups
    script(src="/js/estates.js") 