extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/admin-settings.css")

block content
    .title-view 
        h1 تنظیمات
        h2
    .content-view 
        .user-control 
            .control 
        .users-view 
            .settings-view
                form(action="/dashboard/save-settings" method="POST") 
                    table 
                        tr
                            th نوع اشتراک
                            th مبلغ به عدد (تومان)
                            th مبلغ به حروف
                            th مبلغ بدون تخفیف به حروف
                            th تخفیف به ازای هر کاربر (درصد)
                        tr 
                            td
                                label(for="oneMonth") اشتراک یک ماهه (تومان): 
                            td 
                                input(type="number" name="oneMonth" value="#{settings.oneMonth}")
                            td 
                                input(type="text" name="oneMonthText" value="#{settings.oneMonthText}")
                            td 
                                input(type="text" name="oneMonthFullText" value="#{settings.oneMonthFullText}")
                            td
                                input(type="number" name="discountPerUser1" value="#{settings.discountPerUser1*100}" step="0.001")
                        tr 
                            td 
                                label(for="threeMonth") اشتراک سه ماهه (تومان): 
                            td
                                input(type="number" name="threeMonth" value="#{settings.threeMonth}")
                            td
                                input(type="text" name="threeMonthText" value="#{settings.threeMonthText}")
                            td
                                input(type="text" name="threeMonthFullText" value="#{settings.threeMonthFullText}")
                            td
                                input(type="number" name="discountPerUser2" value="#{settings.discountPerUser2*100}" step="0.001")
                        tr 
                            td
                                label(for="sixMonth") اشتراک شش ماهه (تومان): 
                            td
                                input(type="number" name="sixMonth" value="#{settings.sixMonth}")
                            td
                                input(type="text" name="sixMonthText" value="#{settings.sixMonthText}")
                            td
                                input(type="text" name="sixMonthFullText" value="#{settings.sixMonthFullText}")
                            td
                                input(type="number" name="discountPerUser3" value="#{settings.discountPerUser3*100}" step="0.001")
                        tr 
                            td
                                label(for="oneYear") اشتراک یک ساله (تومان): 
                            td
                                input(type="number" name="oneYear" value="#{settings.oneYear}")
                            td
                                input(type="text" name="oneYearText" value="#{settings.oneYearText}")
                            td
                                input(type="text" name="oneYearFullText" value="#{settings.oneYearFullText}")
                            td
                                input(type="number" name="discountPerUser4" value="#{settings.discountPerUser4*100}" step="0.001")
                    .areas-view 
                        -for(var i=0; i<settings.areas.length; i++){
                            .area 
                                .num= settings.areas[i]
                                a.delete(href="/dashboard/settings-delete-area?index=#{i}")
                                    i.fa.fa-times
                        -}
                        input(type="number" name="newarea" placeholder="منطقه جدید")
                    input.submit(type="submit" value="ثبت")
                    
    script.
        $('#link5').addClass('active');