extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/users-view.css")

block content
    #user-length.hidden= users.length
    #user-length-max.hidden= users.length-1
    #user-length-min.hidden= 0
    .title-view 
        h1 کاربران
        h2 #{users.filter(e => e.role == 'user').length} user, #{users.filter(e => e.role == 'admin').length} admin
    .content-view 
        .user-control 
            .control 
                .search-view
                    input(type="text" placeholder="جستجو")
                    button
                        i.fa.fa-search
                a.add-user#add-user-btn
                    i.fa.fa-plus 
                    | افزودن کاربر
                a.add-user#add-operator-btn
                    i.fa.fa-plus 
                    | افزودن اپراتور
        .users-view 
            table 
                tr 
                    th کاربر
                    th نقش
                    th دسترسی ها
                    //- th 
                    th 
                -for(var i=0; i<users.length; i++){
                    tr 
                        td.user 
                            h1= users[i].fullname
                            h2
                                a(href="tel:#{users[i].phone}")= users[i].phone
                        td.role 
                            -if(users[i].role == 'user'){
                                a.role-user(href="/dashboard/make-admin?userID=#{users[i]._id}") user
                            -}if(users[i].role == 'admin')
                                a.role-admin(href="/dashboard/make-user?userID=#{users[i]._id}") admin
                            
                        td.acounts 
                            -if(users[i].addFilePermission || users[i].removeFilePermission || users[i].editFilePermission)
                                h2 #{users[i].addFilePermission == true? 'افزودن' : ''} #{users[i].removeFilePermission == true? 'حذف' : ''} #{users[i].editFilePermission == true? 'ویرایش' : ''} فایل ها
                            -if(users[i].addEstatePermission || users[i].removeEstatePermission || users[i].editEstatePermission)
                                h2 #{users[i].addEstatePermission == true? 'افزودن' : ''} #{users[i].removeEstatePermission == true? 'حذف' : ''} #{users[i].editEstatePermission == true? 'ویرایش' : ''} مشاور املاک
                                                                            
                        td
                            a.edit(id="edit-user-btn#{i}")
                                i.fa.fa-edit
                        td
                            a.trash(href="/dashboard/delete-user?userID=#{users[i]._id}" onclick="makeSure(event)") 
                                i.fa.fa-trash 
                -}
        
    include ../components/register-operator
    include ../components/register-popup
    include ../components/register-popups
    script(src="/js/users-view.js") 
    script.
        function makeSure(e)
        {
            if(!confirm('آیا مطمئن هستید؟')) {
                e.preventDefault();
            }
        }